.home-route-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24324B;
    min-height: 100vh;
  }

.student-data-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 36px;
    margin-left: 12px;
  }

.student-list-container {
    width: 90%;
    max-width: 600px;
}
  
.student-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  @media screen and (min-width: 768px) {
    .student-list-container {
      width: 90%;
      max-width: 1110px;
    }
  }
  
  .student-data-heading-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .student-logo {
    width: 25px;
    height: 40px;
  }
  
  @media screen and (min-width: 768px) {
    .student-logo {
      width: 60px;
      height: 96px;
    }
  }
  
  .student-data-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 36px;
    margin-left: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .student-data-heading {
      font-size: 72px;
      margin-left: 16px;
    }
  }
  

  
  .student-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  